{# templates/admin/reactivate_user.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reactivate User</h1>
    <p>User: {{ user.firstName }} {{ user.lastName }}</p>
    <p>Outstanding Amount: {{ amount }}</p>
    <!-- Implement payment logic or form here -->
{% endblock %}
