{% extends 'base.html.twig' %}

{% block title %}Our Terms and Conditions{% endblock %}

{% block body %}
    <div class="termsAndCondations">
        <h1>Terms and Conditions</h1>
        <p>Welcome to Elieb Visions Alumni Welfare. By accessing or using our application, you agree to comply with and be bound by the following terms and conditions. If you do not   agree to these terms, please do not use our application.</p>
    
        <h3>User Obligations</h3>
        <ul>
            <li><strong>Account Responsibility:</strong> You are responsible for maintaining the confidentiality of your account and password. You agree to notify us immediately of any    unauthorized use of your account.</li>
            <li><strong>Prohibited Actions:</strong> You agree not to use our application for any illegal or unauthorized purpose.</li>
        </ul>
    
        <h3>Prohibited Activities</h3>
        <ul>
            <li><strong>Sensitive Information:</strong> You are prohibited from submitting or sharing sensitive personal information, such as bank account details, credit card numbers,    or other private financial information, through our site/application. We do not request or process such information through our platform.</li>
            <li><strong>Consequences:</strong> If you attempt to provide such sensitive information, we reserve the right to remove such content, terminate your account, and take any  necessary legal actions to protect our platform and users.</li>
            <li><strong>Reporting:</strong> If you encounter any request or prompt for sensitive information on our site/application, please report it to us immediately to the admin.</li>
        </ul>
    
        <h3>Intellectual Property</h3>
        <ul>
            <li><strong>Ownership:</strong> All content and software on our application are owned by Elieb Visions Alumni Welfare and protected by intellectual property laws.</li>
        </ul>
    
        <h3>Content</h3>
        <ul>
            <li>
            <strong>User-Generated Content:</strong> 
            You retain ownership of any content you post but grant us a non-exclusive license to use, display, and distribute such content.
            </li>
        </ul>
    
        <h3>Limitation of Liability</h3>
        <ul>
            <li><strong>Disclaimer:</strong> Elieb Visions Alumni Welfare is not liable for any indirect, incidental, or consequential damages arising from your use of our application.</li>
        </ul>
    
        <h3>Changes to Terms</h3>
        <ul>
            <li><strong>Modification:</strong> We may update these terms from time to time. We will notify you of any significant changes.</li>
        </ul>
    
        <h3>Contact Information</h3>
        <ul>
            <li><strong>Support:</strong> For any questions or to report issues, please contact us at [secretary].</li>
        </ul>
    </div>
{% endblock %}
